/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Apr 1, 2019, 9:00:15 AM
    Author     : Atzori Alis
*/

* {
    box-sizing: border-box;
    border-color: steelblue;
}
body {
   font-family: "Open Sans", Arial, sans-serif;
   background: #222222;
   color: #d0e3c4;
}

h1, h2, h3 {
    color: #21bc81;
}

input {
    background: #8386b4;
}

input:focus {
    color: whitesmoke;
    background: blueviolet;
}

a:visited {
    color: #fe7b7d;
}

a:link {
    color: greenyellow;
}

a:active {
    color: whitesmoke;
}

ol {
    list-style-type: upper-roman;
}

/* Layout */

header {
    border-width: medium;
    border-style: solid;
}

#logo {
    position: relative;
    height: 150px;
}

#logoimg {
    height: 100%;
}

#logottl {
    display: inline;
    position: absolute;
}

nav ul li {
    list-style: none;
    border-style: solid;
    float: right;
    border-radius: 18px;
    padding: 8px;
}

nav ul li:first-child {
    background: #6a5a90;
}

nav ul {
    margin: 0px;
    position: relative;
}

nav {
    border-style: solid;
    border-width: medium;
    float: left;
    width: 100%;
}

/* responsive */
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row {
    border-width: medium;
    border-style: double;
}

[class*="col-"] { float: left; }

.col-1 { width: 8.33%; }
.col-2 { width: 16.66%; }
.col-3 { width: 25%; }
.col-4 { width: 33.33%; }
.col-5 { width: 41.66%; }
.col-6 { width: 50%; }
.col-7 { width: 58.33%; }
.col-8 { width: 66.66%; }
.col-9 { width: 75%; }
.col-10 { width: 83.33%; }
.col-11 { width: 91.66%; }
.col-12 { width: 100%; }